

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100 vw;
    background-color: aqua;
}

h1 {
    justify-content: center;
    text-align: center;
}

#question {
justify-content: center;
text-align: center;
}

 .main {
    border: solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: white;
 }

 #answer-buttons {
    display: grid;
    margin: 1%;
 }

 #answer1 {
    margin: 10px 100px 10px 100px;
 }
 #answer2 {
    margin: 10px 100px 10px 100px;
 }
 #answer3 {
    margin: 10px 100px 10px 100px;
 }
 #answer4 {
    margin: 10px 100px 10px 100px;
 }

 .hide {
    display: none;
 }

#time-container {
    display: flex;
    justify-content: center;
}

#question {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#startquiz {
    margin-bottom: 20px;
}

#showhs {
    margin-top: 10px;
    margin-bottom: 10px;
}