h1 {
    justify-content: center;
    text-align: center;
}

#question {
justify-content: center;
text-align: center;
}

#answer1 {
    display: block;
    width: 30%;
    margin: 1%;
    text-align: center;
}
#answer2 {
    display: block;
    width: 30%;
    margin: 1%;
    text-align: center;
}
#answer3 {
    display: block;
    width: 30%;
    margin: 1%;
    text-align: center;
}
#answer4 {
    display: block;
    width: 30%;
    margin: 1%;
    text-align: center;
}
 .main {
    border: solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
 }

